<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/">Basic MEAN Login</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active">
          <a routerLink="/home">Home</a>
        </li>
        <li routerLinkActive="active" *ngIf="auth.isLoggedIn()">
          <a routerLink="/dashboard">Dashboard</a>
        </li>
        <li routerLinkActive="active" *ngIf="!auth.isLoggedIn()">
          <a routerLink="/login">Login</a>
        </li>
        <li routerLinkActive="active" *ngIf="!auth.isLoggedIn()">
          <a routerLink="/register">Register</a>
        </li>
        <li routerLinkActive="active" *ngIf="auth.isLoggedIn()">
          <a routerLink="/profile">Profile</a>
        </li>
        <li routerLinkActive="active" *ngIf="auth.isLoggedIn()">
          <a (click)="onLogoutClick(); $event.stopPropagation();" href="#">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
