<div class="jumbotron">
  <h2>Welcome to Basic Login Application</h2>
  <div class="lead">Join me in exploring the basic MEAN stack login application. Start with the registration.</div>
  <blockquote>
    <p>MEAN is a free and open-source JavaScript software stack for building dynamic web sites and web applications.</p>
    <p>The MEAN stack is MongoDB, Express.js, AngularJS (or Angular), and Node.js.</p>
    <footer><a href="https://en.wikipedia.org/wiki/MEAN_(software_bundle)">Wikipedia</a></footer>
  </blockquote>
  <p class="lead">
    <a class="btn btn-lg btn-success" routerLink="/register" role="button">Try it now</a>
  </p>
</div>
